/* Color */

.metallic-blue-50{
    color: #ebfeff;
}

.metallic-blue-100 {
    color: #cdf8ff;
}

.metallic-blue-200{
    color: #94edff;
}

.metallic-blue-300{
    color: #62e2fe;
}

.metallic-blue-400{
    color: #1bcaf5;
}

.metallic-blue-500{
    color: #00addb;
}

.metallic-blue-600{
    color: #0289b8;
}

.metallic-blue-700{
    color: #0a6e94;
}

.metallic-blue-800{
    color: #125978;
}

.metallic-blue-900{
    color: #134a66;
}